@use "../abstracts" as abs;

// _footer.scss

footer {
  background-color: cornflowerblue;
  @include abs.flex-centre;
  width: 100%;
  height: 50px;
  text-align: center;
  .footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}