@use "../abstracts" as abs;

// _header.scss

.header-container {
	background: cornflowerblue;
	width: 100%;
  height: abs.$header-h;
	z-index: 1;
  display: flex;
  // text-align: right;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  @media screen and (max-width: 768px) {
    padding: 0 1rem;
    input[type=text], input[type=password] {
      width: 35%;
      height: auto;
    }
  }
  input[type=submit] {
    background-color: abs.$primary;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
}
